@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Roboto+Mono:ital,wght@1,100..700&family=Rubik+80s+Fade&family=Sixtyfour&display=swap');

@font-face {
    font-family: 'Andoid';
    src: url(../pacote-projeto-d010/fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root { /* variáveis de cores */
    --cor-1: #c5ebd6;
    --cor-2: #83e1ad;
    --cor-3: #3ddc84;
    --cor-4: #2fa866;
    --cor-5: #1a5c37;
    --cor-6: #063d1e;

    --fonte-padrao: arial, helvetica, sans-serif;
    --fonte-destaque:"Bebas Neue", 'cursive';
    --fonte-android: 'Andoid', sans-serif;
}
* { /* seletor universal */
    margin:0;
    padding:0;
}
body {
    background-color: var(--cor-1);
    font-family: var(--fonte-padrao);
}
a.ext::after { /*Marcadno o link com uma classe e dizedno para fazer algo depois disso*/
    content: '\1F517';
}
header {
    background-color: var(--cor-5);
    text-align: center;
    min-height: 150px;
    padding: 40px;
    background-image: linear-gradient(to bottom, var(--cor-4), var(--cor-6)); /* degradê -> direção, cor inicial, cor final */
}
header > h1{ /* com ">" seletor de filho */
    color:white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.364); /* deslocamento horizontal, deslocamento vertical, desfoque, cor */
}
header > p{
    color:white;
    font-size: 1.2em;
    font-family: var(--fonte-padrao);
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    margin-bottom: 20px;
}
nav {
    background-color: var(--cor-6);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.301) ;
}
nav > a{
    color:white;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
    transition-duration: 0.7s; /* duração da transição */
}
/* Esses paddings (5px -> 10px) criam uma "animação" do menor para o maior*/
nav > a:hover{ /* efeito ao passar o mouse */
    background-color: var(--cor-5);
    border-radius: 5px;
    padding: 10px;
}
main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.366); /* deslocamento horizontal, deslocamento vertical, desfoque, cor */
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
main img{
    width: 100%;
}
main img.bugdr{
    max-width: 310px;
    display: block; 
    margin: auto;
}
main h1{ /* sem ">" seletor de filho não direto */
    color:var(--cor-6);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}
main h2{
    font-family: var(--fonte-android);
    color: var(--cor-5);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, transparent, var(--cor-2));
    text-indent: 10px;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.8em;
    font-size: 1em;
}
main strong{
    color: var(--cor-6);
    font-weight: bold;
    padding: 2ps 6px;
}
main a {
    text-decoration: none;
    color: var(--cor-6);
    background-color: var(--cor-2);
    padding: 2px 6px;

}
main a:hover {
    background-color: var(--cor-5);
    color: white;
}
div.vid {
    background-color: var(--cor-6);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}
div.vid > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside {
    background-color: var(--cor-2);
    padding: 10px;
    border-radius: 10px;
}
aside h3 {
    color: white;
    background-color: var(--cor-5);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.301);
}
aside > ul {
    list-style-type: square;
    list-style-position: inside;
    columns: 2; /* número de colunas */
}
footer {
    background-color: var(--cor-6);
    color:white;
    text-align: center;
    padding: 5px;
    font-size: 0.9em;
}
footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
footer a:hover {
    text-decoration: underline;
    color: var(--cor-5);
    background-color: var(--cor-1);
}